
<div>
    <table>
        <tr> 
            <td>Liste des participants</td>
            <td>
                <a routerLink="./add" routerLinkActive="active">
                    <img src="assets/add.png" class="icon" />
                </a>
            </td>
            <td>
                <a routerLink="./add" routerLinkActive="active">
                    <img src="assets/add.png" class="icon" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Ghachem, eya , aaouina , informatique, ghahcemeya12@gmail.com
            </td>
            <td>
                <a routerLink="./add">
                  
                <img src="assets/edit.png" alt="modifier un formateur">
                </a>
            </td>
            <td>
                <a routerLink="./add"> 
                    <img src="assets/list.png" alt="delete un formateur">
                </a>
            </td>
    
        </tr>
        <tr>
            <td>
                Ghachem, eya , aaouina , informatique, ghahcemeya12@gmail.com
            </td>
            <td>
                <a routerLink="./add">
                  
                <img src="assets/edit.png" alt="modifier un formateur">
                </a>
            </td>
            <td>
                <a routerLink="./add"> 
                    <img src="assets/list.png" alt="delete un formateur">
                </a>
            </td>
    
        </tr>
        <tr>
            <td>
                Ghachem, eya , aaouina , informatique, ghahcemeya12@gmail.com
            </td>
            <td>
                <a routerLink="./add">
                  
                <img src="assets/edit.png" alt="modifier un formateur">
                </a>
            </td>
            <td>
                <a routerLink="./add"> 
                    <img src="assets/list.png" alt="delete un formateur">
                </a>
            </td>
    
        </tr>
    </table>
</div>

<router-outlet></router-outlet>


