table {
  background-color: #72b0ea;
  width: 100%;
  text-align: center;
  border: 1px solid #fafafa;
}

table td {
  position: relative;
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: #2764ce;
}

section {
  background-color: white;
}
