
.rectangle{
	width:300px;
	height:200px;
    background : orangered;
    display: inline-block;
    margin :20px;
    align-items: center;
}

.rectangle2{
	width:300px;
	height:200px;
    background : green;
    display: inline-block;
    margin : 20px;
    align-items: center;
}

.rectangle3{
	width:300px;
	height:200px;
    background : violet;
    display: inline-block;
    margin : 20px;
    align-items: center;
}

.icon{
    width: 100px;
    height: 100px;
    margin: 10px;
  }

 a{
     color: white;
     font-size: 15px;
     font-weight: bold;
     text-align: center;
 }

  table {
    background-color:white;
    width: 50%;
    text-align: center;
  }
  
  table td {
    position: relative;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #2764ce;
  }

  .content-table{
      display: inline-flex;
      margin-right: 20px ;
  }